#radio_visualizer {
	display: none;	
	z-index: 0;
	position: absolute;	
	color: #fff;
	background-color: #000;
}

#radio_visualizer canvas {
	display: block;
	background-color: #000;
	margin-left: 26px;
}